.section {
  font-family: "Montserrat", sans-serif;
  color: var(--bg-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  list-style: none;
}

.item {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.item label {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

.item input {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: var(--bg-light);
  background: transparent;
  outline: 0;
  padding: 0.3rem 1rem;
  border: 2px solid var(--clr-accent);
  border-radius: 1rem;
}

@media (min-width: 1000px) {
  .section {
    margin-top: 6rem;
    padding-inline: 4rem;
    align-self: flex-start;
    position: sticky;
    top: 20%;
  }
}

@media (min-width: 1100px) {
  .section {
    padding-left: 0;
  }

  .section,
  .item input {
    color: var(--bg-dark);
  }
}
