.section {
  width: min(90%, 1000px);
  height: 450px;
  padding-inline: 2.5rem;
  margin-inline: auto;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-width: 1100px) {
  .section {
    display: flex;
  }
}
